<ul>
    <li>Using CSV</li>
    <li>Using Excel</li>
    <li>Using Dictionary</li>
    <li>Using Tuples list</li>
    <li>Using list of dictionaries</li>
    
</Ul>

In [3]:
import pandas as pd

## Using CSV

In [2]:
df = pd.read_csv('climate_data.csv')
df

        day  temperature  windspeed   event
0  1/1/2023           27          3  Cloudy
1  1/2/2023           31          6   Rainy
2  1/3/2023           34          9   Sunny

## Using Excel

In [5]:
df = pd.read_excel("climate_data.xlsx")
df

         day  temperature  windspeed   event
0 2023-01-01           27          3  Cloudy
1 2023-01-02           31          6   Rainy
2 2023-01-03           34          9   Sunny

## Using Dictionary

In [9]:
# key will column, value will data

climate_data ={
        "Date":['1-01-2024','1-02-2024','1-03-2024'],
        "Temperature":[27,28,32],
        "Wind_speed" : [3,6,4],
        "Weather":["Cloudy","Rainy","Sunny"]
    }

df = pd.DataFrame(climate_data)
df

        Date  Temperature  Wind_speed Weather
0  1-01-2024           27           3  Cloudy
1  1-02-2024           28           6   Rainy
2  1-03-2024           32           4   Sunny

## Using tuple list

In [14]:
climate_data=[('1-01-2024',27,3,'Cloudy'),
              ('1-02-2024',25,6,'Rainy'),
              ('1-03-2024',23,2,'Sunny')
             ]
df = pd.DataFrame(data=climate_data,index=['x','y','z'],columns=['Date','Temperature','Wind_speed','weather'])
df

        Date  Temperature  Wind_speed weather
x  1-01-2024           27           3  Cloudy
y  1-02-2024           25           6   Rainy
z  1-03-2024           23           2   Sunny

## Using list of dictionaries

In [16]:
climate_data =[
    { "Date":'1-01-2024', "Temperature":27, "Wind_speed" : 3, "Weather":"Cloudy"},
     { "Date":'1-02-2024', "Temperature":25, "Wind_speed" : 7, "Weather":"Rainy"},
     { "Date":'1-03-2024', "Temperature":24, "Wind_speed" : 2, "Weather":"Sunny"}
]

df = pd.DataFrame(data=climate_data,columns=['Date','Temperature','Wind_speed','Weather'])
df

        Date  Temperature  Wind_speed Weather
0  1-01-2024           27           3  Cloudy
1  1-02-2024           25           7   Rainy
2  1-03-2024           24           2   Sunny