In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('climate_data.csv')
df

        day  temperature  windspeed   event
0  1/1/2023           27          3  Cloudy
1  1/2/2023           31          6   Rainy
2  1/3/2023           34          9   Sunny

In [6]:
df['test'] = 'A'
df

        day  temperature  windspeed   event test
0  1/1/2023           27          3  Cloudy    A
1  1/2/2023           31          6   Rainy    A
2  1/3/2023           34          9   Sunny    A

In [10]:
df['wind_percent'] = (df['windspeed'] / df['temperature'] * 100).apply('{:,.2f}%'.format)
df

        day  temperature  windspeed   event test wind_percent
0  1/1/2023           27          3  Cloudy    A       11.11%
1  1/2/2023           31          6   Rainy    A       19.35%
2  1/3/2023           34          9   Sunny    A       26.47%

## Update column

In [11]:
df

        day  temperature  windspeed   event test wind_percent
0  1/1/2023           27          3  Cloudy    A       11.11%
1  1/2/2023           31          6   Rainy    A       19.35%
2  1/3/2023           34          9   Sunny    A       26.47%

In [12]:
 # update test column A to B
    
df['test'] = 'B'
df

        day  temperature  windspeed   event test wind_percent
0  1/1/2023           27          3  Cloudy    B       11.11%
1  1/2/2023           31          6   Rainy    B       19.35%
2  1/3/2023           34          9   Sunny    B       26.47%