In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({'col one':[100,200],'col two':[300,400]})
df

   col one  col two
0      100      300
1      200      400

In [8]:
df = df.rename({'col one':'col_one','col two':'col_two'},axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [9]:
# if we have two colums and we want to change both of them then use this otherwise use above syntax

df.columns = ['col--one','col--two']
df

   col--one  col--two
0       100       300
1       200       400

In [10]:
df.columns = df.columns.str.replace('--','_')
df

   col_one  col_two
0      100      300
1      200      400